@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
    .alert {
    background-color: #f8d7da; /* Red background color */
    color: #721c24; /* Dark red text color */
    padding: 10px 15px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px; /* Add some space below the message */
    border: 1px solid #f5c6cb; /* Red border */
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 150px;
}

button[type="submit"]:hover {
    background-color: #45a049;
     
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
}